<a href="https://colab.research.google.com/github/prosto31/dap-2024/blob/main/les04/%D0%9B%D1%804_%D0%9A%D0%BE%D0%B2%D0%B0%D0%BB%D0%B5%D0%BD%D0%BA%D0%BE_12002208.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа №4.

по дисциплине "Анализ данных на Python".<br>
студента очного отделения<br>
3 курса 12002208
<br>группы<br>
Коваленко Денис Дмитриевич.

Проверил<br>
Чеботарев Сергей Александрович

# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.
К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [ ]:
import numpy as np
import pandas as pd

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [ ]:
titanic_df = pd.read_csv("titanic.csv",index_col='PassengerId')
titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Просмотрите первые 6 строк

In [ ]:
titanic_df.head(6)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

3. Выведите описание данных

In [ ]:
titanic_df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [ ]:
pol = titanic_df["Sex"] == 'male'
newpol=titanic_df[pol]["Sex"].count()
newpol
titanic_df["Sex"].value_counts()
titanic_df["Pclass"].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [ ]:
summ = titanic_df["Pclass"].value_counts()
print(summ)
titanic_df.pivot_table('Ticket', index='Sex', columns='Pclass', aggfunc='count')

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Pclass    1    2    3
Sex
female   94   76  144
male    122  108  347

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [ ]:
print("median=", round(titanic_df["Fare"].median(), 2))
print("std=", round(titanic_df["Fare"].std(), 2))

median= 14.45
std= 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [ ]:
mol=titanic_df[titanic_df["Age"] <30]["Survived"]
summ=mol.count()
sumsur=mol.value_counts().iloc[1]
print("младше 30= ",sumsur/summ*100)
oldp=titanic_df[titanic_df["Age"] >60]["Survived"]
summ=oldp.count()
sumsur=oldp.value_counts().iloc[1]
print("старше 60= ",round(sumsur/summ*100,3))

младше 30=  40.625
старше 60=  22.727

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [ ]:
mol=titanic_df[titanic_df["Sex"] == 'male']["Survived"]
summ=mol.count()
sumsur=mol.value_counts().iloc[1]
print("выжившие мужчины= ",round(sumsur/summ*100,2))
oldp=titanic_df[titanic_df["Sex"] == 'female']["Survived"]
summ=oldp.count()
sumsur=oldp.value_counts().iloc[1]
print("выжившие женщины= ",round(sumsur/summ*100,2))

выжившие мужчины=  18.89
выжившие женщины=  25.8

8.  Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [ ]:
mol=titanic_df[titanic_df["Sex"] == 'male']["Name"].str.split()
mol.map(lambda x:x[-2]if(x[-1]=='J'or x[-1]=='Jr') else x[-1]).value_counts()

Name
John       17
Henry      16
William    15
James      14
George      8
           ..
Trevor      1
"Harry"     1
Cahoone     1
Bernard     1
Howell      1
Name: count, Length: 377, dtype: int64



9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

    В среднем мужчины 1-го класса старше 40 лет.
    В среднем женщины 1-го класса старше 40 лет.
    Мужчины всех классов в среднем старше женщин того же класса.
    В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса.

In [ ]:
z1= titanic_df[(titanic_df["Sex"] == 'male') & (titanic_df["Pclass"] == 1)]["Age"].mean()>40
print('1 zadanie:',z1)
z2= titanic_df[(titanic_df["Sex"] == 'female') & (titanic_df["Pclass"] == 1)]["Age"].mean()>40
print('2 zadanie:',z2)
mens= titanic_df[(titanic_df["Sex"] == 'male')].groupby('Pclass')["Age"].mean()
shes = titanic_df[(titanic_df["Sex"] == 'female')].groupby('Pclass')["Age"].mean()
print('3 zadanie:',(mens>shes).all())
shes = titanic_df.groupby('Pclass')["Age"].mean()
print('3 zadanie:',shes.loc[1]>shes.loc[2]>shes.loc[3])

1 zadanie: True
2 zadanie: False
3 zadanie: True
3 zadanie: True

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [ ]:
shes = titanic_df.groupby('Survived')["Age"].mean()
shes.loc[0]>shes.loc[1]

True

### Дополнительные вопросы для защиты

1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
4. Что такое Series и чем он отличается от DataFrame
5. Можно ли изменить индекс в Series после создания объекта?
6. Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:
- одинаковые типы данных, одинаковые размеры и одинаковые индексы?
- одинаковые типы данных, одинаковые размеры, но разные индексы?,  
- одинаковые типы данных, разные размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и разные индексы?
- разные типы данных, разные размеры и разные индексы?
7. Что такое DataFrame и чем он отличается от Series
8. Что необходимо сделать, чтобы число строк в DateFrame при его просмотре, по умолчанию составляло 8?
9. Чем отличается метод iloc от метода loс
10. Можно ли добавить в DateFrame дополнительный Series?
11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?